{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="article article-project" itemscope itemtype="http://schema.org/Article" style="margin-bottom: 16px">

  {{ partial "header_image.html" . }}

  <div class="article-container">

    <div class="pub-title">
      <h1 itemprop="name">{{ .Title }}</h1>
      <span class="pub-authors" itemprop="author">&nbsp;</span>
      <span class="pull-right">
        {{ partial "share.html" . }}
      </span>
    </div>

    {{ with .Params.external_link }}
    <a class="btn btn-primary btn-outline" href="{{ . }}" target="_blank" rel="noopener">{{ i18n "open_project_site" }}</a>
    {{ end }}

    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>

    {{ partial "tags.html" . }}

    {{ $page := . }}
    {{ $project := .File.TranslationBaseName }}
    {{ $project_path := printf "%s/%s/" .Section $project }}

	{{ with $page.Params.collaborators }}
    <div>
		<h2 style="margin-bottom: 8px;">Collaborators</h2>
		<ul class="ul-edu" style="padding: 0; margin: 0;">
			{{ range .active }}
			<li style="margin-bottom: 16px; padding: 0">
				<div class="description" style="display: flex; flex-flow: row wrap;">
					{{ if .image}}
						<img
							src="{{ (printf "/img/%s" .image) }}"
							class="article-banner"
							itemprop="image"
							width="100"
							height="100"
							style="width:100px; height:100px; border-radius: 50%; margin-right: 16px;"
						/>
					{{end}}
					<div style="flex: 1">
						{{ if .url }}
							<a class="user-name" href="{{.url}}" target="_blank" rel="noreferrer">{{ .name }}</a>
						{{ else }}
							<p class="user-name">{{.name}}</p>
						{{ end }}
						{{ if .institution }}<p class="institution">{{ .institution }}</p>{{ end }}
						{{ if .description }}
							<p class="course" style="padding-top: 8px">{{ .description }}</p>
						{{ end }}
					</div>
				</div>
			</li>
			{{ end }}
		</ul>
    </div>
    {{ end }}


    {{ if (.Site.Params.projects.list_children | default true) }}
      {{ $items := where (where .Site.RegularPages "Type" "publication") ".Params.projects" "intersect" (slice $project) }}
      {{ $items := $items | union (where (where .Site.RegularPages "Type" "publication") ".Params.url_project" $project_path) }}
      {{ $pubs_len := len $items }}
      {{ if ge $pubs_len 1 }}
        <h2>{{ (i18n "publications") }}</h2>
        {{ range $items }}
          {{ if eq $page.Site.Params.projects.publication_format 1 }}
            {{ partial "publication_li_detailed" . }}
          {{ else if eq $page.Site.Params.projects.publication_format 2 }}
            {{ partial "publication_li_apa" . }}
          {{ else if eq $page.Site.Params.projects.publication_format 3 }}
            {{ partial "publication_li_mla" . }}
          {{ else }}
            {{ partial "publication_li_simple" . }}
          {{ end }}
        {{ end }}
      {{ end }}

	  {{ $items := where (where .Site.RegularPages "Type" "grant") ".Params.projects" "intersect" (slice $project) }}
	  {{ $items := $items | union (where (where .Site.RegularPages "Type" "grant") ".Params.url_project" $project_path) }}
	  {{ $talks_len := len $items }}
	  {{ if ge $talks_len 1 }}
		<h2>Grants, Fellowships, and Awards</h2>
		{{ range sort $items ".Params.time_start" "desc" }}
		  {{ partial "grant_listing" . }}
		{{ end }}
	  {{ end }}

      {{ $items := where (where .Site.RegularPages "Type" "talk") ".Params.projects" "intersect" (slice $project) }}
      {{ $items := $items | union (where (where .Site.RegularPages "Type" "talk") ".Params.url_project" $project_path) }}
      {{ $talks_len := len $items }}
      {{ if ge $talks_len 1 }}
        <h2>{{ (i18n "talks") }}</h2>
        {{ range sort $items ".Params.time_start" "desc" }}
          {{ partial "talk_li_simple" . }}
        {{ end }}
      {{ end }}
    {{ end }}

	{{ with $page.Params.researchAssistant }}
    <div>
		<ul class="ul-edu" style="padding: 0; margin: 0;">
			{{ if .active }}
				<h2 style="margin-bottom: 24px">Current Research Assistants</h2>
			{{ end }}

			{{ range .active }}

			<li style="margin-bottom: 16px; padding: 0">
				<div class="description" style="display: flex; flex-flow: row wrap;">
					{{ if .image}}
						<img
							src="{{ (printf "/img/%s" .image) }}"
							class="article-banner"
							itemprop="image"
							width="100"
							height="100"
							style="width:100px; height:100px; border-radius: 50%; margin-right: 16px;"
						/>
					{{end}}
					<div style="flex: 1">
						{{ if .url }}
							<a href="{{.url}}" class="user-name" target="_blank" rel="noreferrer">{{ .name }}</a>
						{{ else }}
							<p class="user-name">{{.name}}</p>
						{{ end }}
						{{ if .institution }}<p class="institution">{{ .institution }}</p>{{ end }}
						{{ if .description }}
							<p class="course" style="padding-top: 8px">{{ .description }}</p>
						{{ end }}
					</div>
				</div>
			</li>
			{{ end }}
			{{if .inactive }}
				<h2 style="margin-bottom: 24px">Former Research Assistants</h2>
			{{ end }}
			{{ range .inactive }}
			<li style="margin-bottom: 16px; padding: 0">
				<div class="description" style="display: flex; flex-flow: row wrap;">
					{{ if .image}}
						<img
							src="{{ (printf "/img/%s" .image) }}"
							class="article-banner"
							itemprop="image"
							width="100"
							height="100"
							style="width:100px; height:100px; border-radius: 50%; margin-right: 16px;"
						/>
					{{end}}
					<div style="flex: 1">
						{{ if .url }}
							<a href="{{.url}}" class="user-name" target="_blank" rel="noreferrer">{{ .name }}</a>
						{{ else }}
							<p class="user-name">{{.name}}</p>
						{{ end }}
						{{ if .institution }}<p class="institution">{{ .institution }}</p>{{ end }}
						{{ if .description }}
							<p class="course" style="padding-top: 8px">{{ .description }}</p>
						{{ end }}
					</div>
				</div>
			</li>
			{{ end }}
		</ul>
    </div>
    {{ end }}

  </div>
</article>

{{ if .Site.Params.section_pager }}
<div class="article-container article-widget">
  {{ partial "section_pager.html" . }}
</div>
{{ end }}

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
