@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');

.btn.cta .fa-sub {
   position: relative;
   left: -.5em;
   width: .2em;
   vertical-align: -.25em;
   text-shadow: -1px -1px 0px white, -1px 1px 0px white, -1px 0px 0px white;
 }

.btn.cta {
    border: 2px solid #4caf50;
    padding: 8px 16px;
    font-size: .9rem;
    font-family: montserrat;
    font-weight: 600;
    letter-spacing: 1px;
    color: #2b2b2b;
}

.btn.cta span {
    margin-right: 10px;
}

.btn.cta:hover .fa-sub {
    text-shadow: -1px -1px 0px #2b2b2b, -1px 1px 0px #2b2b2b, -1px 0px 0px #2b2b2b;
}

.btn.cta:hover {
    background-color: #4caf50;
    color: white;
}

body {
    font-family: lora, georgia, 'times new roman', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.site-footer {
    display: none;
}

.article-banner {
    margin: 0 auto;
    max-width: 760px;
}

.honors-awards {
    font-weight: bold;
    font-family: 'Montserrat';
    margin: 1.5rem 0;
}

.honors-awards .pub-list-item {
    margin: 1rem 0;
}

.honors-awards .col-md-10 {
    border-left: 1px solid #d2d5db;
}

.honors-awards .details {
    font-weight: normal;
    font-family: lora, georgia, 'times new roman', serif;
}

@media screen and (max-width: 768px) {
    .card {
        height: 350px;
    }

    .card a {
        overflow: hidden;
        height: calc(100% - 80px);
    }
}

a,
h3.article-title a:hover {
    color: #1E8549
}

h3.article-title,
.pub-list-item span[itemprop="name"] > a {
    font-weight: bold;
    letter-spacing: .03rem;
}

.btn-primary {
    background-color: #1E8549;
    font-weight: bold;
    letter-spacing: .03rem;
}

.btn-primary.btn-outline {
    color: #1E8549 !important;
    border-color: #1E8549 !important;
}

.nav-item a, .navbar-brand {
    color: #2b2b2b;
}

.nav-item a:hover {
    color: #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
}
